.card-container {
  max-width: 30ch;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  background-color: hsl(var(--clr-accent-primary));
  aspect-ratio: 1 / 1;

  h3 {
    margin-block: 1em;
  }

  p {
    line-height: 1.7;
  }
}
