.card-container {
  max-width: 30ch;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  background-color: hsl(var(--clr-accent-primary));
  aspect-ratio: 1 / 1;

  h3 {
    margin-block: 1em;
  }

  p {
    line-height: 1.7;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .card-container {
    aspect-ratio: inherit;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    max-width: fit-content;
  }

  .card-container__text-container {
    max-width: 75%;
  }

  img {
    margin-left: 5%;
  }
}
