.coffee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25ch;
  text-align: center;

  .coffee-card__text-container {
    display: flex;
    flex-direction: column;
  }

  img {
    max-width: 85%;
    margin-bottom: 3rem;
  }

  h3 {
    margin-bottom: 1em;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .coffee-card {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    max-width: fit-content;
    width: 100%;

    img {
      max-width: 30%;
    }
  }

  .coffee-card__text-container {
    max-width: 30ch;
    margin-left: 0 auto;
    text-align: start;
  }
}
