.footer-navigation {
  display: flex;
  align-items: center;

  padding: 3rem 5.3rem;
  background-color: hsl(var(--clr-neutral-800));
  color: hsl(var(--clr-neutral-100));

  margin-bottom: 10vh;

  .footer-navigation__logo {
    margin-right: 10%;
  }

  .footer-navigation__menu {
    list-style: none;
    display: flex;
    gap: 2rem;

    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: hsl(var(--clr-neutral-500));

    .footer-navigation__list-item {
      &:hover {
        cursor: pointer;
        color: hsl(var(--clr-neutral-100));
      }
    }
  }

  .footer-navigation__social-container {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
  }

  .footer-navigation__social-icon:hover path {
    cursor: pointer;
    fill: hsl(var(--clr-accent-secondary));
  }
}
