.hero {
  background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  background-position: center;
  border-radius: .5rem;
  padding: 7rem 5rem;

  .hero__text-container {
    max-width: 50ch;
  }

  .hero__title {
    color: hsl(var(--clr-neutral-100));
    margin-bottom: 0.5em;
  }

  .hero__text {
    color: hsl(var(--clr-neutral-100) / 0.8);
    margin-bottom: 3em;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .hero {
    background-image: "../assets/home/tablet/image-hero-coffeepress.jpg";
  }
}

@media (max-width: 599px) {
  .hero {
    border-radius: 1rem;
    background-image: "../assets/home/mobile/image-hero-coffeepress.jpg";
    background-repeat: no-repeat;
    background-position: 75%;
  }

  .hero__text-container {
    width: 100%;
    max-width: initial;
    outline: 1px solid red;
  }
}
