.hero {
  background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  background-position: center;
  border-radius: .5rem;
  padding: 7rem 5rem;

  .hero__text-container {
    max-width: 50ch;
  }

  .hero__title {
    color: hsl(var(--clr-neutral-100));
    margin-bottom: 0.5em;
  }

  .hero__text {
    color: hsl(var(--clr-neutral-100) / 0.8);
    margin-bottom: 3em;
  }
}
