.primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3.125rem;

  .primary-navigation__menu {
    display: flex;
    gap: 2rem;

    list-style: none;
    text-transform: uppercase;
    color: hsl(var(--clr-neutral-500));
    font-weight: 600;
    font-size: 0.75rem;
  }

  .primary-navigation__list-item {
    &:hover {
      cursor: pointer;
      color: hsl(var(--clr-neutral-800));
    }
  }
}
